

#map {
  position: absolute;
  inset: 0;
}

/* sidebar */
#sidebar {
  position: fixed;
  left: 10px;
  bottom: 60px;
  background: rgba(0,0,0,0.85);
  color: #00ffe5;
  border: 1px solid #00ffe5;
  z-index: 999999;
}

#sidebar.collapsed #sidebar-body {
  display: none;
}

/* label样式 */
.custom-label {
  background: rgba(0,0,0,0.8);
  color: #00ffe5;
  border: 1px solid #00ffe5;
  padding: 2px 6px;
  font-size: 12px;
}
