body {
  margin: 0;
  overflow: hidden;
  font-family: Arial;
}

#map {
  position: absolute;
  inset: 0;
}

/* UI层 */
#ui-root {
  position: fixed;
  inset: 0;
  z-index: 9999999;
  pointer-events: none;
}

#ui-root * {
  pointer-events: auto;
}

/* 顶栏 */
#topbar {
  position: absolute;
  top: 10px;
  left: 10px;

  background: rgba(0,0,0,0.6);
  border: 1px solid #00ffe5;
  padding: 8px;
  color: #00ffe5;
}

/* 🟢 左下角 sidebar */
#sidebar {
  position: absolute;
  left: 10px;
  bottom: 10px;

  width: 170px;

  background: rgba(0,0,0,0.85);
  border: 1px solid #00ffe5;

  color: #00ffe5;

  box-shadow: 0 0 15px #00ffe5;
}

/* header */
#sidebar-header {
  padding: 6px;
  cursor: pointer;
  background: rgba(0,255,229,0.1);
}

/* body */
#sidebar-body {
  padding: 6px;
}

/* 折叠 */
#sidebar.collapsed #sidebar-body {
  display: none;
}

/* 右侧面板 */
#panel {
  position: absolute;
  right: 10px;
  top: 80px;

  width: 260px;

  background: rgba(0,0,0,0.85);
  border: 1px solid #00ffe5;

  color: #00ffe5;
  padding: 10px;
}
